body{
    margin: 0;
    font: arial 'sans serif';

}

#btn-start{
    border-radius: 7px !important;
  border-color: rgb(160, 157, 157) !important;
  color: rgb(155, 155, 155) !important;
}
#btn-start:hover{
    background: rgba(255, 254, 254, 0.993) !important;
    color: rgb(0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0.911) !important;
    font-size: 20px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .content {
    position: fixed;
    bottom: 15%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    margin: auto auto;
    text-align: center;
  }

#content{
    margin: auto;
    align-content: center;
    padding: 20px;;
}
#header{
    background-color: black ;
    padding: 0;
    margin-bottom: 30px;;
}

#header-logo{
    width: 200px;
    padding: 0;
}
#search-section{
    padding: 5px;;
}
#search-btn{
    border-radius: 5px;
    margin-top: 5px;

    font-size: 12px;
}
#input-bar{
    width: 100%;
    align-content: center;
}
#input-search{
    text-align: center;
}
#hackerDiv{
margin-bottom: 10px !important;
padding: 0;

}
#card-product{
height: 100%;

margin: 2;

padding: 0 ;
}
#cart-btn{

    font-size: 20px;
}
#card-text{
    margin: unset !important;
    padding: unset !important;
}
/* #cart{
  position: fixed;
  right:  10px;
padding: 10;

} */
#btn-destroyCart{
    transition: all .5s ease-in-out;
    margin: 5px auto;
    bottom: auto;
}
#btn-destroyCart:hover{
    background: rgba(0, 0, 0, 0.719) !important;
    color: whitesmoke !important;
    border-color: rgba(0, 0, 0, 0.144) !important;
}
#img-cart{
    justify-items: center;
    width: 20%;
    
}
#btn-destroyddt{
    margin: 5px auto;
    bottom: auto;
}
#btn-box{
align-items: baseline;
}   
.btnInfo{
    margin-bottom: 5px;  
} 
.add-to-cart{
    margin-top: 5px !important;

}
#btn-modal{
    margin-top: 5px;  
} 


/*carrito*/
.circulo{
    background-color:#33b5e5;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    justify-content: center;
    position: relative;
    right: 10px;
    top: -5px;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.flexCart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    margin-bottom: 15px;
}
.number{
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@media  only screen and (max-width: 767px) {
    .cart{
        position:unset !important;
    
    }
}
@media  only screen and (min-width: 767px) {
    #cart-btn{
        display: none !important;
    }
}

.cc-img {
    margin: 0 auto;
}
